# Backblaze B2 S3-compatible storage
B2_APPLICATION_KEY_ID="<Backblaze Application Key ID>"
B2_APPLICATION_KEY="<Backblaze Application Key>"
B2_BUCKET_NAME="<Backblaze bucket name>"
B2_REGION="<Backblaze region, e.g. us-west-004>"
B2_PUBLIC_URL_BASE="https://<bucket>.s3.<region>.backblazeb2.com"

TRANSLOADIT_KEY="<Transloadit auth key>"
TRANSLOADIT_SECRET="<Transloadit auth secret>"
TRANSLOADIT_TEMPLATE_ID="<Transloadit template ID>"

TWELVE_LABS_API_KEY="<Twelve Labs API Key>"
TWELVE_LABS_INDEX_ID="<Twelve Labs Index ID>"

WEB_APPLICATION_HOST="<Hostname of the app>"
