# Don't change boto3 version due to compatibility with Backblaze B2
boto3==1.35.99
Django==5.2
django-storages==1.14.6
djangorestframework==3.16.0
gevent==24.11.1
huey==2.5.3
huey-django-orm==24.10.24.0
python-dotenv==1.1.0
requests==2.32.3
twelvelabs==0.4.6
pytransloadit==1.0.2
