{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'home' %}">Home</a>
    / <a href="{% url 'logout' %}">Log out</a>
    <hr>
{% if object.video %}
    {% include "core/video_play.html" %}
    <div class="clips">
        {% include "core/video_data.html" with header="Logos" div="logo" %}
        {% include "core/video_data.html" with header="Text" div="text_in_video" %}
        {% include "core/video_data.html" with header="Transcription" div="transcription" %}
    </div>
    <script>
      window.onload = async () => {
        const dataSections = [
          { div: 'logo', url: '{{ object.logo.url|safe }}' },
          { div: 'text_in_video', url: '{{ object.text_in_video.url|safe }}' },
          { div: 'transcription', url: '{{ object.transcription.url|safe }}' },
        ]

        for (const section of dataSections) {
          loadClips(section.div, section.url);
        }
      };
    </script>
{% else %}
    <h2>Please wait while your video is uploaded</h2>

    <img id="throbber" src="{% static 'images/throbber.gif' %}" alt="Please wait">

    <script>
    window.onload = async (event) => {
      const id = location.pathname.split('/').pop();
      setInterval(pollForVideo, 1000, id);
    };
    </script>
{% endif %}
{% include "core/video_delete_bar.html" %}
{% endblock %}
