{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="grid">
        {% for video in object_list %}
            <div class="video" data-videoid="{{ video.id }}">
                {% if video.status == "Ready" %}
                    <div class="thumbnail tn-small" data-status="">
                {% else %}
                    <div class="thumbnail tn-small" data-status="{{ video.status }}">
                {% endif %}
                        <a href="{% url 'watch' video.id %}">
                            {% if video.thumbnail %}
                                <img class="thumbnail tn-small" src="{{ video.thumbnail.url }}"><br>
                            {% else %}
                                <img class="thumbnail tn-small" src="{% static 'images/whitenoise320x180.png' %}"><br>
                            {% endif %}
                        </a>
                        <input type="checkbox" onclick="checkboxClicked({{ page_obj.paginator.object_list|length }})"/>
                    </div>
                <b title="{{ video.video }}">{{ video.title }}</b><br>
                {{ video.user.username }}<br>
                {{ video.uploaded_at }}
            </div>
        {% empty %}
            <div>
                {% if user.is_authenticated %}
                    <p>No videos - why not <a href="/upload">upload</a> one?</p>
                {%  else  %}
                    <p>No videos - <a href="{% url 'login' %}">log in</a> and upload one!</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                Showing {{ page_obj.paginator.per_page }} of {{ page_obj.paginator.object_list|length }} videos.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% if user.is_authenticated %}
        <div class="buttonbar">
            <form method="POST" onsubmit="deleteSelectedVideos(); return false;">
                {% csrf_token %}
                <button id="select-page" type="button" onclick="selectPage(true)" disabled>Select All</button>
                <button id="unselect-page" type="button" onclick="selectPage(false)" disabled>Unselect All</button>
                <button id="delete" type="submit" onclick="return confirm('Are you sure do you want to delete the selected video(s)?')" disabled>
                    Delete
                </button>
                <button id="index" type="button" onclick="indexSelectedVideos()" disabled>Index</button>
            </form>
        </div>
    {% endif %}
    <div class="selection">
        <span id="selection-text">&nbsp;</span>
    </div>
    <script>
      window.addEventListener("load", () => {
        document.querySelector("#select-page").disabled = (document.querySelectorAll("input[type=checkbox]").length === 0);
        this.listenForTasks();
      });
    </script>
{% endblock %}
