{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if object.video %}
    {% include "core/video_play.html" %}
{% else %}
    <h2>Please wait while your video is uploaded</h2>

    <img id="throbber" src="{% static 'images/throbber.gif' %}" alt="Please wait">

    <script>
      window.addEventListener("load", async () => {
        const id = location.pathname.split('/').pop();
        setInterval(pollForVideo, 1000, id);
      });
    </script>
{% endif %}
{% include "core/video_operation_bar.html" %}
{% endblock %}
