{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <a href="{% url 'home' %}">Home</a>
    / <a href="{% url 'logout' %}">Log out</a>
    <hr>
{% if object.video %}
    <div class="result-video">
        <video width="640" height="360" controls>
            <source src="{{ object.video.url }}" type="video/mp4">
        </video>
        <h2>{{ object.title }}</h2>
        {{ video.user.username }}<br>
        {{ video.uploaded_at }}
    </div>
    <div class="clips">
        <h3>Transcription</h3>
        <i>Click to play:</i><br>
        {% for clip in transcription %}
            <span onclick="playClip({{ clip.start }}, {{ clip.end }}); return false;">
                {{ clip.start|hms }} - {{ clip.end|hms }}
                "{{ clip.value }}"
            </span>
            <br>
        {% endfor %}
    </div>
    <script>
      function playClip(start, end) {
        const video = document.querySelector('video');
        video.currentTime = start;
        video.play();

        savedListener = video.ontimeupdate;
        video.ontimeupdate = (event) => {
          if (video.currentTime > end) {
            video.pause();
            video.ontimeupdate = savedListener;
          }
        };
      }
    </script>
{% else %}
    <h2>Please wait while your video is uploaded</h2>

    <img id="throbber" src="{% static 'images/throbber.gif' %}">

    <script>
        async function pollForvideo(id) {
            console.log(`Polling for ${id}`)
            const response = await fetch(`/api/videos/${id}`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                });

            if (response?.video) {
                location.reload();
            }
        }

        async function handleLoad(event) {
            const id = location.pathname.split('/').pop();
            setInterval(pollForvideo, 1000, id);
        }

        window.onload = handleLoad;
    </script>
{% endif %}
    <hr>
    <form method="POST" action="{% url 'delete' object.id %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure do you want to delete \'{{object.title}}\'?')">
            Delete Video
        </button>
    </form>
{% endblock %}
