body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin: 40px auto;
}

a.logo {
    color: inherit;
    text-decoration: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #eceeef;
    padding: 5px 8px;
    text-align: left;
}

table thead {
    border-bottom: 2px solid #eceeef;
}

input[type="file"] {
    display: none;
}

#grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 320px);
}

.logo-strip img {
    height: 30px;
}

.logo-strip span {
    width: 20px;
    display: inline-block;
}

div.logo-strip > a {
    text-decoration: none;
}

div.thumbnail {
    z-index: 0;
    position: relative;
    overflow: hidden;
}

div.thumbnail:after {
    content: attr(data-status);
    color: white;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    position: absolute;
    z-index: 10;
}

img.thumbnail {
    border: 1px solid #c0c0c0;
}

div.buttonbar {
    margin-top: 10px;
}
